.App {
  text-align: center;
}

.navBar{
  background-color: #1976d2 !important;
}

.main-container{
  background-color:#fff;
  margin:40px;
  border-radius: 5px;
  width: 100% !important;
}

.textfield-container{
  padding:10px;
}

.textfield-fullwidth{
  width: 100% !important;
}

.header-button{
  font-size:20px !important;
}

h4{
  color: #5e5d5d;
  margin-bottom: 0px;
}